[2016-04-09 07:09] bararchy opened #2 "Missing Gemfile"
It would be awesome to have a Gemfile for dependencies.

[2016-04-09 07:11] bararchy opened #3 "Missing help page"
[code]

[2016-04-09 07:17] bararchy opened #4 "Use a full path name drop Dir.pwd"
Running:

[code]

Produces:

[code]

Whitewidow decides that the file is in the same dir, sometimes it's not.

[2016-04-09 07:17] Ekultek commented on #3
Working on it right now, forgot to edit that out.

[2016-04-09 07:20] Ekultek commented on #2
I'll get to it, added to TODOs

[2016-04-09 07:26] Ekultek commented on #3
Fixed -hh flag to point to the correct method. Re-download.

[2016-04-09 07:26] #3 closed, assigned to nobody

[2016-04-09 07:27] Ekultek commented on #4
Negative, get rid of the beginning / and use tmp/scan.txt.

/tmp/scan.txt <= INCORRECT
tmp/scan.txt <= CORRECT

Check the help section and read the comments.

[2016-04-09 07:27] #4 closed, assigned to nobody

[2016-04-09 07:59] bararchy commented on #3
Thanks, working :)

[2016-04-09 08:01] bararchy opened #5 "Enhancment: Add country filter suffix"
Lets say I want only com, co.uk, .ng, etc... it would be cool to have a parameter for that

[2016-04-09 08:02] bararchy opened #6 "URL Connection Errors"
![screenshot from 2016-04-09 11-02-20](https://cloud.githubusercontent.com/assets/1631073/14402569/97b4f48c-fe42-11e5-876f-247ccec01625.png)

[2016-04-09 08:04] Ekultek commented on #4
Read the comments, you don't need the beginning slash, I've made it so that t already has one so all you gotta do is specify the directory

Sent from my iPhone

[2016-04-09 08:05] Ekultek commented on #5
I can do that, it'll be released in the next version though.

Sent from my iPhone

[2016-04-09 08:05] Ekultek commented on #6
......

Sent from my iPhone

[2016-04-09 08:29] Ekultek commented on #6
Alright, here's what I'm going to do,I'm gonna make a log that will extract these and throw them into a different file, from there it will read through the file and if the lines in the file match any of the URLs skip them. I think this will work.

[2016-04-09 08:39] Ekultek commented on #5
I'm going to add 20 of each that you specified for testing purposes, if you want anymore added let me know.

[2016-04-09 16:53] Ekultek commented on #2
Gem file added in 1.0.4 release

[2016-04-09 16:53] #2 closed, assigned to nobody

[2016-04-09 16:56] Ekultek opened #7 "Country specific search queries test log"
I'm opening this issue due to adding 40 country specific search queries, there are 20 co.uk, and 20.ng I want to keep a log on how well they go as to decide whether or not to incorporate country specific queries into whitewidow. If you get a run of one of them, post here and let me know how they went, pictures would be greatly appreciated.

[2016-04-09 16:57] Ekultek commented on #5
Issue moved to here, they have been added, now I Want to keep tabs on them: https://github.com/Ekultek/whitewidow/issues/7

[2016-04-09 22:25] Ekultek commented on #6
The reason these sites are connecting is because they're closed properly and redirect to a whitescreen. This issue will be closed.

[2016-04-09 22:25] #6 closed, assigned to nobody

[2016-04-09 22:30] Ekultek opened #8 "settings/preferences?"
If you happen to come across a URL that looks something like this:
settings/preferences?

Immediately stop running whitewidow, go into tmp/SQL_sites_to_check.tx and manually remove this URL. It will cause the biggest freaking headache you can ever imagine. I am currently trying to fix this issue, however, there are multiple different types of these. When you come across it please post which search

[2016-04-10 08:46] bararchy opened #9 "Error when running with '-d'"
Using latest version from git:

[code]

[2016-04-10 08:52] bararchy opened #10 "RestClient::MaxRedirectsReached"
Output:

[code]

[2016-04-10 12:17] Ekultek commented on #9
Roll back to 1.0.4 for now, I'll fix it when I have time

[2016-04-10 16:13] Ekultek commented on #9
Problem is the Copy module takes two parameters, will fix when I have time, simple fix.

[2016-04-10 16:29] Ekultek commented on #9
Patched redownload version 1.0.5.1

[2016-04-10 16:29] #9 closed, assigned to nobody

[2016-04-10 16:40] Ekultek commented on #10
What this means is that the server throws an infinite loop at the user agent, and the client catches it and says, "can't handle all these loops." So it's a simple patch, I'm pretty sure I can rescue it, as a temporary solution I'd suggest going into the search queries and manually removing that search query, because every time that query is thrown when it parses the html of that page, the header w

[2016-04-10 17:55] bararchy opened #11 "Test all parameters"
Right now, the program will test only the last parameter, as in:

URL: http://example.com/index.php?id=123&bla=123&lol=5

only lol=5 will be tested by adding ` in the last part.
what about testing each parameter ?

[2016-04-10 19:49] Ekultek commented on #11
Great idea! This will be added to the TODO list and I'll get working on it. However I can't guarantee that it will be released by the next update. Probably more around 1.0.7 when I release the advanced URL decoding.

[2016-04-11 00:21] Ekultek commented on #10
Should be patched now

[2016-04-11 08:59] bararchy commented on #7
What's the Syntax for specifying the country suffix ?

[2016-04-11 09:05] bararchy opened #12 "Using multiple SQL Injection symbols"
Right now I see you use `'`, it would give better results to use ` instead.

Also, using `;` and `--` would be interesting too.
how about trying again with different symbol if the check failed to produce SQL results ?

[2016-04-11 12:30] Ekultek commented on #12
This will be done with the advanced decoding. Feel free to try and code your own ideas into whitewidow and contribute!

Leaving this open because I like the idea
Sent from my iPhone

[2016-04-11 12:31] Ekultek commented on #7
Check the search_queries.txt file and search for .ng, and .co.uk

[2016-04-11 13:42] Ekultek commented on #12
I am a little interested to know what the `--` would do. As far as I know that's just used for comments in certain DB's?

[2016-04-15 13:15] Ekultek commented on #12
Added and will be added with release of 1.0.6, you're going to like this release

[2016-04-15 19:51] Ekultek commented on #8
You no longer have to manually remove this search result, the program will take it as a non exploitable, read the comments 'Known Bugs' for more information in whitewidow.rb

[2016-04-16 17:02] airatkazan opened #13 "whitewidow.rb:208:in `[]': invalid byte sequence in UTF-8 (ArgumentError)"
ruby version 2.2.0
# ruby whitewidow.rb -f /home/user/hack/burp/whitewidow/tmp/SQL_sites_to_check.txt

( W ( h ( i ( t ( e ( w ( i ( d ( o ( w )
                    ( S ( Q ( L )
                  ( V ( u ( l ( n )
            ( S ( c ( a ( n ( n ( e ( r )
                      _{"}/_
                       //^\
.......
.......
.......
[19:56:30 INFO]Parsing page for SQL syntax error: http://www.l

[2016-04-16 17:58] Ekultek commented on #13
That's interesting, how many times has this happened to you?

[2016-04-16 18:02] Ekultek commented on #13
Whitewidow already has the full path of your computer using `Dir.pwd` from here all you have to do is call the paths within whitewidow itself, so for you:

ruby whitewidow.rb -f tmp/SQL_sites_to_check.txt

You also don't need to use the first slash, it's already provided to make it easier.

Try dropping the full path and just using the path within whitewidow itself without the beginning slash, and

[2016-04-16 21:52] airatkazan commented on #13
ruby whitewidow.rb -f tmp/SQL_sites_to_check.txt not work. Error
whitewidow.rb:208:in []': invalid byte sequence in UTF-8 (ArgumentError) from whitewidow.rb:208:inblock (2 levels) in vulnerability_check'
...etc...

I found:
$locale
LANG=ru_RU.UTF-8
if i enter:
$export LANG=C
whitewidow work ok

[2016-04-16 21:59] Ekultek commented on #13
Hmm, I'll look into getting it fixed permanently, if you know how please contribute

Sent from my iPhone

[2016-04-16 23:06] Ekultek commented on #13
Do me a favor and post the URL you're trying to run, I have an idea of how I can permantley fix this, it has to do with the encoding error I've been getting lately and I think that trying to enforce the coding to UTF-8 will fix this

[2016-04-17 03:56] airatkazan commented on #13
I run with -d options and have error from  http://www.lancier-cable.com/inc/print.php?HostPrint=www.lancier-cable.com&path=/&layoutpath=/doc/&title=Videos&URL=http://www.lancier-cable.com/en/en/en/en/en/create.php?cat=7&lng=en'

p.s.: hmm.... now i whitedow with -d options and all be Ok. URL not http://www.lancier-cable.com...

[2016-04-17 03:58] Ekultek commented on #13
I know what the problem is, that site, if you go to it, is a print site. It apparently holds all of that companies print jobs.. Weird

[2016-04-17 04:02] airatkazan opened #14 "/usr/lib/ruby/2.2.0/net/http.rb:1532:in `addr_port': undefined method `+' for nil:NilClass (NoMethodError)"
$ruby whitewidos -d
.........
[06:56:53 WARNING]URL: http://code.metager.de/source/xref/moodle/lib/classes/session/file.php; is not vulnerable, dumped to non_exploitable.txt
[06:56:54 INFO]Parsing page for SQL syntax error: /settings/ads/preferences?hl=ru'
/usr/lib/ruby/2.2.0/net/http.rb:1532:in `addr_port': undefined method`+' for nil:NilClass (NoMethodError)
    from /usr/lib/ruby/2.2.0/net/http

[2016-04-17 04:13] airatkazan commented on #13
New URL with this error:
[07:12:14 WARNING]URL: http://www.plantproducts.com/ca/viewproduct.php?pid=2245-- is not vulnerable, dumped to non_exploitable.txt
[07:12:15 INFO]Parsing page for SQL syntax error: http://www.plantproducts.com/ca/viewproduct.php?pid=2245;
[07:12:15 WARNING]URL: http://www.plantproducts.com/ca/viewproduct.php?pid=2245; is not vulnerable, dumped to non_exploitable.txt
[07:12

[2016-04-17 04:18] airatkazan commented on #13
[07:18:14 INFO]Parsing page for SQL syntax error: http://apologia.pvpve.net/plugins/info/info.php?page=9'
whitewidow.rb:208:in `[]': invalid byte sequence in UTF-8 (ArgumentError)
    from whitewidow.rb:208:in`block (2 levels) in vulnerability_check'
    from /usr/lib/ruby/2.2.0/timeout.rb:88:in `block in timeout'
    from /usr/lib/ruby/2.2.0/timeout.rb:32:in`block in catch'
    from /usr/lib/ruby

[2016-04-17 04:25] airatkazan commented on #13
$cat test
http://apologia.pvpve.net/plugins/info/info.php?page=9
http://www.mark-v-online.com/viewproduct.php?product_id=30
http://www.lancier-cable.com/inc/print.php?HostPrint=www.lancier-cable.com&path=/&layoutpath=/doc/&title=Videos&URL=http://www.lancier-cable.com/en/en/en/en/en/create.php?cat=7&lng=en

(this is URLs with "whitewidow.rb:208:in []': invalid byte sequence in UTF-8 (ArgumentError

[2016-04-17 04:30] Ekultek commented on #13
Yes I need to force the encoding to UTF-8 if the URL returns invalid bytes, I'll figure this out don't worry about it, for now just tell me which search queries produce the encoding error

Sent from my iPhone

[2016-04-17 04:36] airatkazan commented on #13
inurl:info.php?menue=   give error on http://apologia.pvpve.net/plugins/info/info.php?page=9'
inurl:ViewProduct.php?misc=  give error  on http://www.mark-v-online.com/viewproduct.php?product_id=30'

[2016-04-17 04:41] Ekultek commented on #14
Add this to the settings/preferences bug

[2016-04-17 04:41] #14 closed, assigned to nobody

[2016-04-17 14:13] Ekultek commented on #8
/settings/ads/preferences?hl=iw

Courtesy of airatkazan;

/settings/ads/preferences?hl=ru

[2016-04-17 14:13] Ekultek commented on #7
Will be adding more country specific dorks

[2016-04-17 14:22] bararchy commented on #13
This happened for me too:

[code]

[2016-04-17 14:24] bararchy commented on #13
@Ekultek You can use this in Ruby:

[code]

[2016-04-17 14:25] Ekultek commented on #13
@bararchy

If you know how to do it, why haven't you contributed to it..?

[2016-04-17 14:26] bararchy opened #15 "Use Proxy"
So, Lets say I want to test the sites but not expose my self.
Right now using a proxy for all the program is problematic because google search doesn't like it.
A `--proxy=` option to be used when the actual connection to the sites is made would be awesome

[2016-04-17 14:27] bararchy commented on #13
@Ekultek Sorry, I just knew this one from the top of my head as my day job is working with HTTP\URLS and network programming using Ruby.

I'll really try to find time this week to go over things and see where I can help

[2016-04-17 14:28] Ekultek commented on #15
As of right now you don't need a proxy, it uses random user agents, so Google thinks your someone else anyways. The only thing Google has is your IP.
If you want further anomity I can add a proxy setting

[2016-04-17 14:28] bararchy commented on #15
@Ekultek When a site is being checked, don't you connect to it directly to check the SQLi ?

[2016-04-17 14:29] Ekultek commented on #13
@bararchy give me your job!

It's all good, I was just curious didn't mean to come across forceful

[2016-04-17 14:34] Ekultek commented on #13
However I do have a question, forcing the encoding could potentially cause an issue, couldn't it? If the encoding, for lack of a better words, "doesn't want to be forced" then there's a perfectly viable URL, that could possibly be vulnerable, that's now wasted..? Isn't there a way around encoding forcing, like for example with the IO encoding errors, if I can figure that out, I'm sure it could pot

[2016-04-17 14:39] bararchy commented on #13
Well, the issue here is that the HttpClient you are using can't handle non UTF8 it seems, also, most of the times a non UTF8 url's are not RFC viable.

I would enforce the encoding and just have that as a default, if someone want they can pass --no-force-encode or something of the like to run without it

[2016-04-17 14:42] Ekultek commented on #13
That seems like it could work.. I just don't want to screw myself or others out of possible urls is all

Sent from my iPhone

[2016-04-17 14:54] Ekultek commented on #15
Of course, but what I'm saying, is as long as the site thinks you're something else, I would assume you're safe. But of course I can add a proxy switch. I've been meaning to for awhile now.

Sent from my iPhone

[2016-04-17 20:52] airatkazan commented on #13
guys, sorry, i can help you only as tester - i not programmer
p.s.: sorry for my English )

[2016-04-17 20:53] Ekultek commented on #13
Oh you're good man, I'll be adding you to the contributors list. I'm also working on this issue right now, I think it's fixed

Sent from my iPhone

[2016-04-17 21:01] airatkazan commented on #13
Ekultek, in future, i can give you ideas for your product. I know analogues, i know this market (ITsec).

[2016-04-17 21:01] Ekultek commented on #13
Sounds like a plan to me.

Sent from my iPhone

[2016-04-17 21:04] airatkazan commented on #13
I'm serious. If you're interested

[2016-04-17 21:05] Ekultek commented on #13
So I think I have this fixed, then again I added about 5000 more Google dorks.. So We'll see what happens. I'm going to release a patch for 1.0.6 within the next couple hours

[2016-04-17 21:10] airatkazan commented on #13
hmmm... dorks it's good...) , but see (as example) functional https://github.com/googleinurl/SCANNER-INURLBR

[2016-04-17 21:13] airatkazan commented on #13
dorks live and death in short time. People need functionality and flexibility

[2016-04-17 22:34] Ekultek commented on #13
I'm pretty sure this is fixed. If it keeps happening, I need the search query, the url, and the error.

[2016-04-18 07:50] bararchy commented on #15
@Ekultek The site knows your IP, that's what they care about, even if You and I or other people who wish to do good using this tool the owner can legally act upon this as an attack.

This is why the google search should be direct (or maybe thinking about using DuckGoGo which allows searches from TOR), and the "checks" should go over using a proxy the user chooses.

[2016-04-18 07:54] bararchy opened #16 "Seperate detection and testing stages."
Using -d will do the google dork run, then, the program will ask if you wish to check the link or just to save them to SQL_TO_CHECK file (Dry Run).

[2016-04-18 07:58] bararchy opened #17 "Remove ' from Testing as it wont cuse SQL Injection to be detected"
For me (And my low knowledge of SQL) the `'` sign will never cause an SQL Injection to be detected.

Here is an Example:
![screenshot from 2016-04-18 10-48-36](https://cloud.githubusercontent.com/assets/1631073/14597254/3fa797c2-0554-11e6-9a1f-60f9074a040e.png)

You can see an SQLi has been detected (I did not confirm or checked it manually) but only using `, -- and ;

[2016-04-18 11:48] Ekultek commented on #17
That's incorrect, an apostrophe is the most basic way of checking for vulnerability within a website.

[2016-04-18 11:49] Ekultek commented on #16
That's a lot of prompting for input..

[2016-04-18 12:46] bararchy commented on #16
Well, we can add --batch flag for no questions ;)

Sent with AquaMail for Android
http://www.aqua-mail.com

On April 18, 2016 2:49:32 PM Ekultek notifications@github.com wrote:

That's a lot of prompting for input..

##

You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHubhttps://github.com/Ekultek/whitewidow/issues/16#issuecomment-211344343

[2016-04-18 15:39] Ekultek commented on #16
I'd rather just keep it batch and have a --no-batch flag that will allow them to save to a temp file or something?

Sent from my iPhone

[2016-04-18 15:48] #17 closed, assigned to nobody

[2016-04-18 16:28] Ekultek commented on #8
I think I've found a solution for this using a regex. Will test later today.

[2016-04-18 16:50] Ekultek commented on #15
So what you're saying is make a --proxy=PROXY flag?

[2016-04-19 14:10] Ekultek commented on #15
Read the future updates: https://github.com/Ekultek/whitewidow/blob/master/README.md

[2016-07-07 19:29] Ekultek commented on #8
Project not maintained anymore.

[2016-07-07 19:30] Ekultek commented on #16
Project not maintained anymore.

[2016-09-07 23:20] Ekultek opened #18 "Block Googles webcache"
When you run whitewidow in default mode sometimes you'll get Google's webcache, this will either do one of two things, cause the program to crash completely, or skip it as a none exploitable. I would like help in creative ways to get rid of Googles webcache, thanks guys,

[2016-09-07 23:24] #18 closed, assigned to nobody

[2016-09-07 23:27] Ekultek opened #19 "Google webcache"
### Issue (be specific)

Google's webcache sometimes shows up on whitewidows scrapped sites list
### Exact error message

Depending on what happens there's a few, Whitewidow will completely exit the program, take it as a non exploitable, or crash with a `parse` error
### Steps to reproduce

Run whitewidow in default mode
### Search query if applicable

Any
### Whitewidow version number

1.6.0.3
##

[2016-09-08 23:32] Ekultek opened #20 "Getting more done in GitHub with ZenHub"
Hola! @Ekultek has created a [ZenHub](http://www.zenhub.com) account for the **Ekultek** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

---
#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboardin

[2016-09-08 23:47] Ekultek commented on #16
RE-OPENED 09/08/2016

[2016-09-08 23:48] Ekultek commented on #15
RE-OPENED 09/08/2016

[2016-09-09 00:00] Ekultek commented on #18
Duplicate of issue #19

[2016-09-09 00:00] Ekultek commented on #8
RE-OPENED 09/08/2016

[2016-09-09 00:02] Ekultek commented on #7
RE-OPENED 09/08/2016

[2016-09-09 00:04] Ekultek commented on #14
Duplicate of #8

[2016-09-09 00:05] Ekultek commented on #11
RE-OPENED 09/08/2016

[2016-09-09 00:06] #10 closed, assigned to nobody

[2016-09-09 00:06] #12 closed, assigned to nobody

[2016-09-09 00:06] #20 closed, assigned to nobody

[2016-09-09 00:06] #13 closed, assigned to nobody

[2016-09-09 00:07] Ekultek commented on #5
Duplicate of #7

[2016-09-09 00:07] #5 closed, assigned to nobody

[2016-09-09 00:47] Ekultek opened #21 "Remove colored gem"
### Before you create an issue please make sure that there are no issues that relate to your issue you are trying to create, if there is an issue that relates to this, please add a comment to that one and describe your specific problem
## [Issues can be found here](https://github.com/Ekultek/whitewidow/issues)
### Issue (be specific)

Remove the colored gem and add a string expansion
### Exact err

[2016-09-10 02:19] Ekultek commented on #21
Almost done just need to edit a few things before the release

[2016-09-10 02:19] #7 closed, assigned to Ekultek

[2016-09-10 03:32] Ekultek commented on #19
DONE!

[2016-09-10 03:32] #19 closed, assigned to Ekultek

[2016-09-10 03:32] Ekultek commented on #21
DONE!

[2016-09-10 03:32] #21 closed, assigned to Ekultek

[2016-09-10 04:51] Ekultek opened #22 "Invalid byte sequence in UTF-8 (ArgumentError)"
### Before you create an issue please make sure that there are no issues that relate to your issue you are trying to create, if there is an issue that relates to this, please add a comment to that one and describe your specific problem
## [Issues can be found here](https://github.com/Ekultek/whitewidow/issues)
### Issue (be specific)

An invalid byte sequence exception is thrown when running the p

[2016-09-10 18:42] Ekultek commented on #11
Currently testing a version of the parameters, it will add to every single parameter, will be editing it so that it will only try one parameter at a time

[2016-09-11 03:19] Ekultek commented on #15
Alright so I added a proxy flag and the ability to use a proxy, however I don't have a good proxy to use, so I'll need some testers to tell me what the hell happens with it, it should work. I just don't wanna publish a release without knowing what's going to happen.

[2016-09-11 03:35] Ekultek commented on #16
DONE!

[2016-09-11 03:35] #16 closed, assigned to Ekultek

[2016-09-12 20:49] #15 closed, assigned to Ekultek

[2016-09-12 20:49] Ekultek commented on #15
Closed, if it doesn't work then it doesn't work.

[2016-09-13 20:33] Ekultek commented on #8
All the sites that are currently known:

/settings/ads/preferences?hl=en
/settings/ads/preferences?hl=iw
/settings/ads/preferences?hl=ru

Seems that these are all directing to a language. My best guess is that there's one for every single language..

I think I've figured out a way around this:

[code]

Will be testing it in the next release

[2016-09-22 12:47] Ekultek commented on #22
For now I removed the search query, any other searches that you find to have this please post them here. Temporarily fixed.

[2016-09-29 19:20] Ekultek commented on #11
Done!

[2016-09-29 19:20] #11 closed, assigned to Ekultek

[2016-09-29 19:20] Ekultek commented on #8
Fixed it to where it rarely shows up, if you see it post the search query here

[2016-10-15 10:35] Shazgul commented on #22
Got the same Problem:

`[12:32:13 INFO] I'm searching for possible SQL vulnerable sites, using search query book.php?isbn=
[12:32:14 SUCCESS] Site found: http://www.rizzoliusa.com/book.php?isbn=9780789320827
[12:32:15 SUCCESS] Site found: http://www.rizzoliusa.com/book.php?isbn=9780847838363
[12:32:15 SUCCESS] Site found: http://www.rizzoliusa.com/book.php?isbn=9780847848249
[12:32:15 SUCCESS] Sit

[2016-10-15 19:42] Ekultek commented on #22
@Shazgul thank you for bringing this to my attention. For now remove that query from lib/lists/search_queries.txt

I'll try forcing the encoding and figure out what character it's failing on

[2016-10-28 02:54] Ekultek commented on #22
@Shazgul the search query has been removed until I can completely fix the issue. Temp fix in process.

[2016-10-29 17:07] Ekultek opened #23 "PRV1.5.0 testers needed"
### Issue (be specific)

Need testers for the pre-release of version 1.5.0. This version includes a recursive spider bot that will extract a bunch of links. I need people to play around with it. Find out what they want added, find out what errors they receive, and let me know what needs to be done with it. I don't have time right now to really test it and figure out the features for it, so I'm loo

[2016-10-29 17:24] Ekultek opened #24 "https://. and http://."

[2016-10-29 17:24] #24 closed, assigned to nobody

[2016-10-29 17:25] Ekultek commented on #23
Issue found https://. and http://.

Example:

[code]

[2016-10-29 17:26] Ekultek commented on #23
And then there's the log:

[code]

[2016-10-30 19:40] Ekultek commented on #23
Closing this issue, check out the newest release

[2016-10-30 19:40] #23 closed, assigned to Ekultek

[2016-11-05 14:43] Ekultek commented on #8
Haven't seen this in awhile so I'm going to close this issue, if it happens again go ahead and open a new issue and I'll reopen this one

[2016-11-05 14:43] #8 closed, assigned to Ekultek

[2016-11-05 18:48] nukeop opened #25 "Syntax error, unexpected tIDENTIFIER"
### Issue (be specific)
Running `ruby whitewidow.rb -d` results in a bunch of syntax errors. I have never touched ruby before but it looks to me like an incorrectly formatted string.

### Exact error message

[code]

### Steps to reproduce
1. Clone the respository
2. `cd whitewidow`
3. `sudo bundle install`
4. `ruby whitewidow.rb -d`

### Whitewidow version number
https://github.com/Ekultek/whitew

[2016-11-05 19:00] Ekultek commented on #25
That's weird, give me a little bit

[2016-11-05 19:05] Ekultek commented on #25
I need the version number run `ruby whitewidow.rb --credits`
Post the output

[2016-11-05 19:11] nukeop commented on #25
That gives me the same syntax error, but inside whitewidow.rb I found the useragent string which says Whitewidow 1.5.0.2.

[2016-11-05 19:16] Ekultek commented on #25
Just cloned my repo and ran your flags:

[code]

I have a couple of things for you to try:
- Download the latest version of ruby: https://www.ruby-lang.org/en/downloads/
- Download the tar or zip here: https://github.com/Ekultek/whitewidow/releases/tag/1.5.0

I'm going to need some info to resolve this issue for you though,
- Run `ruby whitewidow.rb --credits` and tell me the version you have and

[2016-11-05 20:36] Ekultek commented on #25
Found the problem, the squiggly heredoc was not introduced until Ruby version 2.3. You are running version 2.2.5, therefore it's failing with the squiggly heredocs (<<~).

To fix this you will need to download either 2.3 or the newest version. Closing the issue.

For more information read here: https://infinum.co/the-capsized-eight/articles/multiline-strings-ruby-2-3-0-the-squiggly-heredoc

[2016-11-05 20:59] Ekultek commented on #25
Second thought I'll keep this open for a couple days in case of questions

[2016-11-06 00:52] nukeop commented on #25
Yes, that is correct, installing Ruby 2.3.1 solves the issue. Cheers.

[2016-11-06 01:32] Ekultek commented on #25
For future reference I'll be catching the error and if it's thrown it'll specify what ruby version you'll need. Closing issue.

[2016-11-06 01:32] #25 closed, assigned to Ekultek

[2016-11-06 01:33] Ekultek commented on #25
Make a new issue for an enhancement for this

[2016-11-08 12:59] ghost opened #26 "RestClient::SSLCertificateNotVerified"
hi,
`ruby ./whitewidow.rb`
 If you run the above command
[code]
help me? Ubuntu 16.04

[2016-11-08 13:00] Ekultek commented on #26
You just run `whitewidow.rb` when you get this error?

[2016-11-08 13:04] ghost commented on #26
To cry the error now.
The same mistake again. It did not work.

[2016-11-08 13:05] Ekultek commented on #26
Run this: `ruby whitewidow.rb -d` and post the results

[2016-11-08 13:07] ghost commented on #26
[code]

The result has not changed.

[2016-11-08 13:11] Ekultek commented on #26
Alright try this:
`cd whitewidow`
`bundle install`
`ruby whitewidow.rb -h`

[2016-11-08 13:14] ghost commented on #26
bundle install

[code]

ruby whitewidow.rb -h

[code]

[2016-11-08 13:20] Ekultek commented on #26
Give me a little bit

[2016-11-08 13:38] Ekultek commented on #26
Are you running a proxy?

[2016-11-08 13:41] Ekultek commented on #26
Do me one more favor, open up your terminal and type `restclient` post results, thanks.

[2016-11-08 13:52] ghost commented on #26
No proxy.
restclient results
`irb(main):001:0>`

[2016-11-08 14:00] Ekultek commented on #26
Basically, the SSLError jumped up at you because one of the following is true:
1. The remote server presented a valid certificate, but your system lacks root certificates ("CA certs") without which you can't even verify whether you've put on shoes this morning.
2.  The remote server presented a certificate that is distributed within your company/organization and which you were supposed to trust, b

[2016-11-08 14:19] ghost commented on #26
`ruby 2.3.1p112 (2016-04-26) [i386-linux-gnu]`

`1.6.1`

RVM?

Final version.

[2016-11-08 14:26] Ekultek commented on #26
Okay cool. `rvm` is ruby version manager, you'd know if you where using it so don't worry about it. This is a well known error with [rest-client.](https://github.com/rest-client/rest-client/issues/288)

I want you to try one more thing for me to verify that it is what I think it is. Download [this](https://github.com/Ekultek/whitewidow/releases/tag/1.5.0) and run `ruby whitewidow.rb -h` from that

[2016-11-08 14:34] ghost commented on #26
Version 1.5.0 no problem. Work without errors.

[code]

[2016-11-08 14:44] Ekultek commented on #26
no space between rest and client `restclient`

[2016-11-08 14:46] Ekultek commented on #26
Alright it's exactly what I think it is. I'm not sure why it's failing for you, might have something to do with your OS, or your IP, or your firewall, do you require HTTPS to be processed before you go on a network? If so try disabling that and see if that works, I'll start looking into the code and see what I can come up with. Thank you for bringing this to my attention. For future reference plea

[2016-11-08 14:47] ghost commented on #26
It's all right. I will use 1.5.0. Thank you for the help.

[2016-11-08 14:56] Ekultek commented on #26
Leave this open. Use 1.5.0 for now if you would like to. For some reason it's only failing for you and I want to know why.

[2016-11-08 15:17] Ekultek commented on #26
Try one more thing for me.
- open terminal type `irb`
- `require 'rest-client'`
- `RestClient::Request.execute(:url => 'https://selfsigned.ssltest.me', :method => :get, :verify_ssl => false)`

Post the results

[2016-11-08 16:43] Ekultek commented on #26
Alright so I fixed the problem temporarily. Need you to test it for me I'll be pushing the new version to github later on. I'll leave a comment when the push is complete

[2016-11-08 19:14] ghost commented on #26
All right. The output of the commands.

[code]

Same error in version 1.6.1

[2016-11-08 21:34] Ekultek commented on #26
200 is a good thing not an error. So this seems to be soecifically to your OS

[2016-11-10 16:51] ghost commented on #26
Yes the problem is in the system. I still have not found a solution.

[2016-11-10 17:08] Ekultek commented on #26
Here's what I want you to do:
- Go to whitewidow/lib/modules/core/settings.rb
- Find the `page` method
- Change `Nokogiri::HTML(ResetClient.get(site))` to `Nokogiri::HTML(RestClient::Request.execute(:url => site, :method => :get, :verify_ssl => false))`

See what happens there

Should look like this:

[code]

[2016-11-12 19:29] Ekultek commented on #26
Fixed. See latest push in the next 5 minutes

[2016-11-12 22:05] Ekultek commented on #26
Putting in testing

[2016-11-15 00:12] Ekultek commented on #26
Haven't received any reports closing issue

[2016-11-15 00:12] #26 closed, assigned to Ekultek

[2016-11-16 15:22] Ekultek commented on #22
Haven't seen this in awhile, closing for now. Will reopen if the problem shows back up

[2016-11-16 15:22] #22 closed, assigned to Ekultek

[2016-11-23 00:33] Ekultek opened #27 "Test issue #1"
### Before you create an issue please make sure that there are no issues that relate to your issue you are trying to create, if there is an issue that relates to this, please add a comment to that one and describe your specific problem
--

### Issue (be specific)
Test

### Exact error message
Test

### Steps to reproduce
Test

### Search query if applicable
Test

### Whitewidow version number
Test

[2016-11-23 00:34] Ekultek commented on #27
Testing the issue template.

[2016-11-23 00:34] #27 closed, assigned to Ekultek

[2016-11-23 23:52] Ekultek opened #28 "Possible XSS searches along with SQL scanning"
This isn't really an issue, more of an idea that I would like some opinions on.

This is entirely up to the community and is entirely your choice, should I create a search for XSS vulnerabilities? For example:

You will run something like `ruby whitewidow.rb -d --xss` it will scan for vulnerabilities like normal but will also check if a site is vulnerable to XSS scripting using a basic JS script o

[2016-11-24 15:21] Ekultek commented on #28
I lied I'm going to do it

[2016-11-25 09:41] Nazis commented on #28
sounds good my dude u are so kind

[2016-11-25 12:06] Ekultek commented on #28
Well I'm reopening this because it's going to be a lot harder then originally intended. I can do it, but I would like to know if anyone has a specific way they would want it done? For example:

Use it as default with the `-d` flag, or use it as it's own section like you can choose to either search for XSS vulns while you search for SQL vulns, if a site is found to be SQL vuln then it'll skip XSS s

[2016-11-28 21:28] Shazgul opened #29 "Cant Install WhiteWidow"
### Before you create an issue please make sure that there are no issues that relate to your issue you are trying to create, if there is an issue that relates to this, please add a comment to that one and describe your specific problem
--

### Issue (be specific)

I cant do bundle install...

### Exact error message

bundle install
Fetching gem metadata from https://rubygems.org/........
Fetching

[2016-11-28 22:07] Ekultek commented on #29
Try this:
`gem install mechanize`
Post the output

[2016-11-28 22:27] Shazgul commented on #29
sudo gem install mechanize

Fetching: mime-types-3.1.gem (100%)
Successfully installed mime-types-3.1
Building native extensions.  This could take a while...
ERROR:  Error installing mechanize:
	ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.3.0/gems/unf_ext-0.0.7.2/ext/unf_ext
/usr/bin/ruby2.3 -r ./siteconf20161128-8285-drdj0d.rb extconf.rb
checking for main(

[2016-11-28 22:36] Ekultek commented on #29
You need to download the development environment for ruby, you'll need ruby 2.3.0 at least for whitewidow so `sudo apt-get ruby2.3.0-dev`

[2016-11-28 23:55] Ekultek commented on #29
I'll be adding some self troubleshooting steps for issues like this one. I'll push it sometime tonight

[2016-11-29 01:42] Shazgul commented on #29
ruby2.3 plus ruby2.3-dev is installed, the Error appears under this.

ruby -version:
ruby 2.3.1p112 (2016-04-26) [i386-linux-gnu]
-e:1:in `<main>': undefined local variable or method `rsion' for main:Object (NameError)

[2016-11-29 01:45] Ekultek commented on #29
Use either ruby -v or ruby --version. It's parsing the -version into rsion.

Either of these two work. Count the number of dashes:

ruby -v
ruby --version
When you provide a single dash with "version", Ruby sees this:

ruby -v -e rsion

What I want you to do, attempt to install mechanize as a stand alone gen like you did before. Run `gem install mechanize --verbose`

[2016-11-29 01:47] Shazgul commented on #29
ruby -v:
ruby 2.3.1p112 (2016-04-26) [i386-linux-gnu]

Still the bundle install does not work... gem mechanize also not.

[2016-11-29 01:51] Shazgul commented on #29
Full Output of gem install mechanize --verbose:

sudo gem install mechanize --verbose
HEAD https://api.rubygems.org/api/v1/dependencies
200 OK
GET https://api.rubygems.org/api/v1/dependencies?gems=mechanize
200 OK
Getting SRV record failed: DNS result has no information for _rubygems._tcp.api.rubygems.org
GET https://api.rubygems.org/api/v1/dependencies?gems=domain_name,http-cookie,mime-types,net-

[2016-11-29 01:53] Ekultek commented on #29
Thank you let me do some research

[2016-11-29 01:56] Shazgul commented on #29
Thank you, for your research, i'll hope there's an solution for me... :+1:

[2016-11-29 02:01] Ekultek commented on #29
Alright, try this in this order:
`gem install nokogiri --pre`
`gem install nokogiri -v 1.6`
`gem install mechanize --verbose`

[2016-11-29 02:03] Shazgul commented on #29
sudo gem install nokogiri --pre
Fetching: nokogiri-1.6.8.1.gem (100%)
Building native extensions.  This could take a while...
ERROR:  Error installing nokogiri:
	ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.3.0/gems/nokogiri-1.6.8.1/ext/nokogiri
/usr/bin/ruby2.3 -r ./siteconf20161129-3424-1y5cre8.rb extconf.rb
checking if the C compiler accepts ... *** extco

[2016-11-29 02:05] Shazgul commented on #29
Should i try to deinstall Ruby2.3 & Ruby via autoremove and install it again?

[2016-11-29 02:07] Ekultek commented on #29
The issue is nokogiri is a pain in the fuckin ass to install, it's not just you it happens to everyone. Run these two commands and try to reinstall with the above commands:
`sudo apt-get install build-essential patch`
`sudo apt-get install ruby-dev zlib1g-dev liblzma-dev`

[2016-11-29 02:32] Shazgul commented on #29
Actually it seems to work (the Installation) but nokogiri -v 1.6 command stucks at Installing ri documentation for nokogiri-1.6.0 for alot of minutes now. -pre worked awesome,full log:

sudo gem install nokogiri -v 1.6
Fetching: mini_portile-0.5.3.gem (100%)
Successfully installed mini_portile-0.5.3
Fetching: nokogiri-1.6.0.gem (100%)
Building native extensions.  This could take a while...
Success

[2016-11-29 02:35] Ekultek commented on #29
Did the bundle install work?

[2016-11-29 02:36] Shazgul commented on #29
it's still at the nokogiri stuff you've said there:

"Alright, try this in this order:
gem install nokogiri --pre
gem install nokogiri -v 1.6
gem install mechanize --verbose"

[2016-11-29 02:43] Ekultek commented on #29
Oh okay well let's continue from there.
run `gem list noko`

[2016-11-29 02:54] Shazgul commented on #29
After 31 Minutes "gem install nokogiri -v 1.6" was done. :D

now it's installing nokogiri 1.6.8 via "bundle install"... hope this will go faster now.
But bundle install seems to work now.

[2016-11-29 02:57] Ekultek commented on #29
Yeah sounds about right. Nokogiri is a pain sometimes because of how it's built. I'm going to leave this open for a day or so and open it for questions. I'll also update the self help off of this. If you have anymore issues feel free to drop a comment. Enjoy the program and learn something from it, thanks for using it have a good one

[2016-11-29 03:12] Shazgul commented on #29
First of all: It's workin' perfectly now! I'm really happy about this, now i've tried the -s command at a site of a friend (he allowed it to me) -> this was the result:

$ ruby whitewidow.rb -s http://sportquiz.ch/websoccer/
[04:11:03 INFO] Found https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css
[04:11:03 INFO] Found https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap

[2016-11-29 03:25] Ekultek commented on #29
I know that's still a work in progress, it recursively pulls the sites from the HTML. He best way to run the spider is run it through a site with a php tag, for example: `ruby whitewidow.rb -s http://example.com/php?id=1`. The spider is next in line to be upgraded.

The reason it's pulling the bootstrap is because that specific site has a lot of bootstrapped css redirects in it. It'll catch a redi

[2016-11-29 03:55] Shazgul commented on #29
Thanks for the Explanation i'll try my best :)!
Will there also be an feature to use post-data or even cookies :)?

[2016-11-29 04:00] Ekultek commented on #29
I don't want to give away to much, but for the rest of the year you can expect the ability to run through tor, XSS checks, random search engines, the spider to do more, and a lot of styling upgrades. If you have ideas about things you'd like to see you can feel free to create issues for them and check the enhancement box. I'll give you one more, cookies are an extreme possibility

[2016-11-29 12:24] Ekultek commented on #29
updated self help from this issue. Closing

[2016-11-29 12:24] #29 closed, assigned to Ekultek

[2016-11-29 12:42] Shazgul opened #30 "Encoding errors with recursive spider"
### Before you create an issue please make sure that there are no issues that relate to your issue you are trying to create,
if there is an issue that relates to this, please add a comment to that one and describe your specific problem. There is
also a self help guide under the docs folder. Look through the troubleshooting and self help for help.
--

### Issue (be specific)
After a -s Scan on a We

[2016-11-29 13:52] Ekultek commented on #30
Alright, I'm extremely worried about the encoding errors. The reason it stops is that due to the errors caught with the spider, as of right now there's no way to rescue them. I'll be changing the rescue to were it will run the file as is, so if it hits the error all the sites it already has will be run. However the `IO` errors are extremely helpful and I can use this for my encoding issues.

[2016-11-29 14:06] Ekultek commented on #30
All encoding that need to be fixed:

`set(['', '0x4E', '0x3C', '0x89', '0x50', '0xC3', '0x47', '0xFF', '0x70', 'xFF', '0x2F', '0xA2', '0xB3', '0x98'])`

[2016-11-29 14:13] Ekultek commented on #28
Will be done soon, probably around next major update

[2016-11-29 14:13] #28 closed, assigned to Ekultek

[2016-11-29 14:49] Shazgul commented on #30
I really wanna say thanks for all your work, i hope i'm not such a pain in your work because of my Installation-Problem first and now this...

[2016-11-29 15:16] Ekultek commented on #30
@Shazgul You're good, I created it, it's my job to fix it's errors

[2016-11-29 15:33] Ekultek commented on #30
characters, bytes and encoding details:

[code]

[2016-11-29 15:42] Ekultek commented on #30
From page source all characters are UTF-8: `<script src="/theme/menu/MenuMatic_0.68.3.js" type="text/javascript" charset="utf-8"></script>`

[2016-11-29 16:06] Shazgul opened #31 "[Not an Issue] Suggestion - new User Agents"
I saw that the actual User-Agents are kinda old, like Firefox 15, 10 and so on (we are actually at 50!)
I found an nice site which logs User-Agents activities so we can pick out the new Useragents.

http://www.coolboys.jp/ranking/access.cgi?user
It's logging the Data counted by how much ppl accessed it with the Browser for example for Linux Devices:

http://www.coolboys.jp/ranking/access.cgi?user+

[2016-11-29 16:07] Shazgul commented on #31
Another cool site found which also explains which User-Agents means which stuff:
http://www.meine-browser-version.de/useragents.php

[2016-11-29 16:34] Ekultek commented on #31
@Shazgul I'll look into it, thanks

[2016-11-29 16:41] Shazgul opened #32 "Possible problem with "-Signs?"
### Before you create an issue please make sure that there are no issues that relate to your issue you are trying to create,
if there is an issue that relates to this, please add a comment to that one and describe your specific problem. There is
also a self help guide under the docs folder. Look through the troubleshooting and self help for help.
--

### Issue (be specific)
If you use an Dork with

[2016-11-29 16:42] Ekultek commented on #31
Added 25 new user agents, look for them in the next push.

[code]

[2016-11-29 16:42] #31 closed, assigned to Ekultek

[2016-11-29 16:44] Shazgul commented on #32
Info: It's not the normal Quotation Mark, it's the "Left Quotation Mark", sorry, i just copied an new list of Dorks...

http://www.fileformat.info/info/unicode/char/201C/index.htm

[2016-11-29 16:47] Ekultek commented on #32
The quotation marks are not normal, they're encoded. This is a good enhancement though.

[2016-11-29 16:49] Ekultek commented on #32
`“.php?page=”`

This `“` is an encoded quotation, if you change it to: `"` it will work

[2016-11-29 16:51] Ekultek commented on #32
This will actually be an easy fix. I'll make a `--dork` flag and encode the dork to `UTF-8` before it is run

[2016-11-29 17:28] Shazgul commented on #32
Yup i saw it's an "Left Quotation Mark", i've changed all the Marks already in my Dorklist ^^'.

[2016-11-29 17:50] Ekultek commented on #32
Added a dork flag, will be available in the next push

[2016-11-29 17:51] #32 closed, assigned to Ekultek

[2016-11-29 19:56] Ekultek commented on #30
@Shazgul It took you that long and 3 issues to star my repo?! You sir are mean.. lol

[2016-11-29 22:20] Ekultek commented on #30
Think I figured this out:

[code]

[2016-11-30 13:06] Ekultek commented on #30
temp fix:
[code]

All that's left to do is implement it into the source code

[2016-12-01 01:16] Ekultek commented on #30
My little script didn't work, going back to the drawing board

[2016-12-01 01:47] Ekultek commented on #30
Temp fix for this issue in next push:
`data = Settings::ProgramSettings.new.parse(url, 'html', 0).encode("utf-8", invalid: :replace, undef: :replace)`

[2016-12-01 02:01] Ekultek commented on #30
New release has been pushed with temp fix, if you find any errors post them here.

[2016-12-01 13:48] Ekultek opened #33 "Test issue 2"
### Before you create an issue please make sure that there are no issues that relate to your issue.
if there is an issue that relates to one, please add a comment to that issue and describe your specific problem.

If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs
directory. If none of those answer your question, make an issue
--

### I

[2016-12-01 13:49] Ekultek commented on #33
testing everything.

[2016-12-01 13:49] #33 closed, assigned to Ekultek

[2016-12-16 17:37] Ekultek commented on #30
Fixed with latest pull request, thank you @TylerRockwell you beastly mother fucker you

[2016-12-16 17:37] #30 closed, assigned to Ekultek

[2016-12-17 11:06] peterpt opened #35 "Issue running the script"
root@station1:/tools/sql/whitewidow# ruby -v
ruby 2.0.0p648 (2015-12-16 revision 53162) [x86_64-linux]
root@station1:/tools/sql/whitewidow# ruby whitewidow.rb
whitewidow.rb:61: syntax error, unexpected tIDENTIFIER, expecting keyword_do or '{' or '('
...      Hey now my friend, I know you're eager, I am also, but...
...                               ^
whitewidow.rb:62: syntax error, unexpected tIDE

[2016-12-17 13:07] Ekultek commented on #35
Did you even look?

https://github.com/WhitewidowScanner/whitewidow/blob/master/docs/self_help/syntax.txt

[2016-12-17 13:10] Ekultek commented on #35
Duplicate of #25, whitewidow requires at least Ruby 2.3.1 to run due to squiggly heredocs

[2016-12-17 13:10] #35 closed, assigned to Ekultek

[2016-12-17 14:26] peterpt commented on #35
"Did you even look?
https://github.com/WhitewidowScanner/whitewidow/blob/master/docs/self_help/syntax.txt"

Nop , sorry , i totally missed that one , but i fixed it because i had to install new version of ruby to put the new metasploit-framework git working on my wheezy distro of kali , and then i decided to check out the whitewidow script to see if it worked with new ruby version or not , then i

[2016-12-17 14:51] Ekultek commented on #35
It's all good man don't worry about, I'll add rescue for that, which will specify that you need a certain ruby version, if you wouldn't mind could you make a issue with the template and say that I need a rescue for the syntax error? I would greatly appreciate it and you'd go under the contributors list. If you have a moment it'd be awesome, thanks ahead of time

[2016-12-17 16:38] peterpt commented on #35
sorry , i am not understanding the point .
Do you want me to write all the procedures i made from ruby 2.0.0 to ruby 2.3.3 that lead to a "whitewidow" script running ?

[2016-12-17 16:43] Ekultek commented on #35
Don't worry about it I'll do it thanks

[2016-12-17 16:49] Ekultek opened #36 "Syntax error enhancement"
Before you create an issue please make sure that there are no issues that relate to your issue. if there is an issue that relates to one, please add a comment to that issue and describe your specific problem. If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs directory. If none of those answer your question, make an issue
--

## Issue/E

[2016-12-17 16:50] peterpt commented on #35
i can do it if you want , i just did not understated the objective .

Basically the process is this

#:curl -sSL https://get.rvm.io | bash -s stable --ruby
#:/bin/bash --login
#:rvm install 2.3.3
#:rvm use 2.3.3

then goto whitewidow directory and issue the command "bundle install"

in case of key error with curl then use this command
gpg --keyserver hkp://keys.gnupg.net --recv-keys \ 409B6B1796C2

[2016-12-17 23:39] Ekultek commented on #35
You're good he objective was to make an enhancement for the rescue of the syntax error, got it covered thanks

[2016-12-19 02:59] doxsec opened #37 "how to fetch more vulnerable sites? so far only few sites when i run ruby whitewidow.rb -d"
Before you create an issue please make sure that there are no issues that relate to your issue. if there is an issue that relates to one, please add a comment to that issue and describe your specific problem. If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs directory. If none of those answer your question, make an issue
--

## Issue/E

[2016-12-19 03:15] Ekultek commented on #37
Not entirely sure what you mean? Whitewidow randomly selects a query from a file containing around 1500 queries. You can always specify your own using the -D flag

[2016-12-19 03:21] Ekultek commented on #37
You could also always run the -x flag and specify an amount of times to run the program. Such as: ruby whitewidow.rb -x 10. Be careful with this though Google will block your searches after a certain amount, and I haven't figured out how to bypass the captcha without changing the IP address

[2016-12-19 10:30] doxsec commented on #37
what i want is to be able to fetch more vulnerable results lets say scrape google and return say 200 sites to check for sqli so far i see it fetches just a few sites to check for sqli and also will you be adding more search engines in the future??

[2016-12-19 11:24] Ekultek commented on #37
As of now there is no way of scraping more then the first page of Google results. Eventually there will be more search engines, but that's a work in progress. If you want more at a time use the -x flag

[2016-12-19 11:24] #37 closed

[2016-12-19 14:14] Ekultek commented on #36
done

[2016-12-19 14:14] #36 closed, assigned to Ekultek

[2016-12-22 16:37] Ekultek opened #41 "KQykqMq 406 Not Acceptable (test issue #2)"
Before you create an issue please make sure that there are no issues that relate to your issue. if there is an issue that relates to one, please add a comment to that issue and describe your specific problem. If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs directory. If none of those answer your question, make an issue
--

## Issue/E

[2016-12-22 16:38] Ekultek commented on #41
This is a test issue for the auto creation, don't worry about it

[2016-12-22 16:38] #41 closed, assigned to Ekultek

[2016-12-27 20:58] tlsnine opened #44 "sqlmap python settings"
Issue:

New installs of Arch Linux uses python 3.5 as the default. (and is my preference)

Since sqlmap requires python 2.7 (2.6), a quick edit of the "whitewidow.rb" file is needed to get things working properly for those running a newer version of python as their default.

Dirty Solution:

Line 128-ish
system("python #{SQLMAP_PATH} -m #{SQL_VULN_SITES_LOG} #{commands}")
needs to be changed to ->

[2016-12-27 21:07] Ekultek commented on #44
Why not just download 2.7.x and make it default and use python35 for 3.5.x and above? They're your environment variables you can do whatever you want with them. I could however check what version of python the user is running and catch the env from there I guess

[2016-12-27 21:16] tlsnine commented on #44
I've got python2.7 installed as well, but most of what I do is using ver 3.5.
Generally I assign/use a python virtualenv when I want to make a project run under 2.7.
I don't think a major (or any) change to this ruby script needs to be undertaken, just wanted to give a quick heads-up that some users might have this issue and changing that one line is a quick way for them to get it sorted out.
More

[2016-12-27 21:19] Ekultek commented on #44
Yeah I got you man, but now you got me thinking of all the cool shit I can do to change the env variables and such lol. I'll figure it out, leave this open for a little bit

[2016-12-27 21:24] tlsnine commented on #44
Ok then.  Glad I could help :P
I've got a few more little ideas that I'll play around with on my side too and run em by you when they're fleshed out...

[2016-12-27 21:28] Ekultek commented on #44
Always up for good ideas to implement, let me know what you come up with. What I'd really like to see right now is time based Boolean tests

[2016-12-28 12:18] Ekultek commented on #44
Here's what's going to happen, I'm going to reconfigure the sqlmap launch into it's own class and make it so that it will find your env for python, if you have more then one python installed it will launch from python 2.7.x

[2016-12-28 12:18] #44 closed, assigned to Ekultek

[2016-12-28 14:32] Ekultek opened #45 "New sqlmap configuration"
I need people to test the new sqlmap configuration and check for issues with it. I'm not 100% sure if it will extract `Python 3.x.x` or not, but it should. So find the problems and let me know. Thanks guys.

[2016-12-29 23:38] jask05 opened #46 "`find_python_env_var': undefined method `split' for nil:NilClass (NoMethodError)"
## Issue/Enhancement/Question (be specific)
Hi there,

I've installed your tool in ParrotOS and when I try to execute it i had this message:

## Exact error message/Enhancement information
[code]

## Steps to reproduce if applicable or steps on what should be done
cd /home/user/tools/whitewidow

## Search query if applicable (please use exact search query)
ruby whitewidow.rb -d

## User agent (if

[2016-12-30 00:34] Ekultek commented on #46
Alright do this for me:

 - What is the command you where running when you received the error?
 - Did you clone whitewidow from the repo within the last few days?
 - Run `printenv` post the output
 - Run `python --version` post the output

[2016-12-30 07:54] jask05 commented on #46
Of course :)

- **What is the command you where running when you received the error?**
[code]
- **Did you clone whitewidow from the repo within the last few days?**
Yes, I've cloned it yesterday.
[code]
- **Run printenv post the output**
[code]
- **Run python --version post the output**
Python 2.7.13

[2016-12-30 11:44] Ekultek commented on #46
Since when does Linux separate their env PATH with ":"..? The problem being, I separated the array by ";" like a normal fucking person, but apparently it doesn't work like that on parrot. I'm going to have to play around with this a little bit before I figure it out

[2016-12-30 11:55] Ekultek commented on #46
Do you have Parrot Lite, or Parrot full?

[2016-12-30 12:06] Ekultek commented on #46
I'm going to implement a temporary fix for you, see it in the next push here shortly

[2016-12-30 12:06] Ekultek commented on #46
[code]

[2016-12-30 15:49] jask05 commented on #46
It works!! Thanks a lot =)

PS: Mac has PATH with ":" `PATH=/opt/local/bin:/opt/local/sbin:/opt/local/bin:/opt/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/git/bin`

[2016-12-30 15:52] Ekultek commented on #46
No problem, leave this open though because I'm still working on a permanent fix for it.

[2016-12-30 20:17] Ekultek commented on #46
So far:

[code]

Just trying to figure out how to get Linux to work the way I want it to.

[2016-12-31 00:30] Ekultek commented on #46
Going to mark this as duplicate and add your issue to the sqlmap config issue

[2016-12-31 00:31] Ekultek commented on #46
Duplicate of #45

[2016-12-31 00:31] #46 closed, assigned to Ekultek

[2016-12-31 00:34] Ekultek commented on #45
From #46

## Issue/Enhancement/Question (be specific)
Hi there,

I've installed your tool in ParrotOS and when I try to execute it i had this message:

## Exact error message/Enhancement information
[code]

## Steps to reproduce if applicable or steps on what should be done
cd /home/user/tools/whitewidow

## Search query if applicable (please use exact search query)
ruby whitewidow.rb -d

## User

[2017-01-08 00:33] Ekultek commented on #45
Closing this issue. New configuration will be pushed next update

[2017-01-16 22:08] cacaocaca opened #47 "Could not find nokogiri-1.6.8 in any of the sources"
Before you create an issue please make sure that there are no issues that relate to your issue. if there is an issue that relates to one, please add a comment to that issue and describe your specific problem. If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs directory. If none of those answer your question, make an issue
--
Linux kali

[2017-01-16 22:24] Ekultek commented on #47
https://github.com/WhitewidowScanner/whitewidow/blob/master/docs/self_help/bundle_issues.txt

[2017-01-16 22:25] Ekultek commented on #47
Duplicate of #29 read the self help section in the docs before making an issue please

[2017-01-16 22:25] #47 closed, assigned to Ekultek

[2017-01-24 15:28] wreckitkenny opened #49 "[error] U+1EDB from UTF-8 to ISO-8859-1"
[22:23:17 ERROR] Failed with error code U+1EDB from UTF-8 to ISO-8859-1
[22:23:17 FATAL] Program failed with error code: U+1EDB from UTF-8 to ISO-8859-1, error saved to error_log.txt
[22:23:17 FATAL] Issue template is being generated for this error, create a new issue named: IoPIg56 U+1EDB from UTF-8 to ISO-8859-1

##error_log
["/var/lib/gems/2.3.0/gems/mechanize-2.7.5/lib/mechanize/util.rb:77:in

[2017-01-24 16:16] Ekultek commented on #49
Well shit..

[2017-01-24 16:18] Ekultek commented on #49
Can you give the exact URL where this error was given?

[2017-01-24 17:38] Ekultek commented on #49
I can not reproduce this error, please tell me exact steps on how the error can be reproduced. The only thing I've been able to get is this:

[code]

Which is not your error. Either provide the exact URL, exact steps on how this was achieved, or specific steps given when the error was obtained. Otherwise this issue will be closed as non-reproducible.

[2017-01-25 10:14] wreckitkenny commented on #49
I use -d option for searching a vulnerable website on Internet. And get the error which i mentioned at the beginning of this thread..

[2017-01-25 11:58] Ekultek commented on #49
As I specified, I am unable to reproduce it, so what other options where you running along with the default flag?

[2017-01-26 00:48] inzamamraja commented on #49
An error occurred while installing nokogiri (1.6.8), and Bundler cannot
continue.
Make sure that `gem install nokogiri -v '1.6.8'` succeeds before bundling.

[2017-01-26 00:55] Ekultek commented on #49
@inzamamraja make a new issue

[2017-01-26 14:20] Ekultek commented on #49
Found it

[code]

[2017-01-26 14:47] Ekultek commented on #49
Fixed via 06db61a

[2017-01-26 14:47] #49 closed, assigned to Ekultek

[2017-01-26 16:08] wreckitkenny opened #50 "[1.9.12.25] Encoding Issue not fixed??"
## Issue/Enhancement/Question (be specific)
Getting error: U+1EDB from UTF-8 to ISO-8859-1

## Exact error message/Enhancement information
U+1EDB from UTF-8 to ISO-8859-1

## Steps to reproduce if applicable or steps on what should be done
Run with {:default=>true}

## Search query if applicable (please use exact search query)
dork: "powered by EQdkp"

## User agent (if applicable)
N/A

## Whitewi

[2017-01-26 16:08] wreckitkenny commented on #50
[code]

[2017-01-26 16:35] Ekultek commented on #50
God damn it kenny.

[2017-01-26 16:38] Ekultek commented on #50
I think I'm going to have to update the queries

[2017-01-26 16:52] Ekultek commented on #50
Fixed via feb511f, this is a temp fix, please post all failing queries here

[2017-01-26 16:55] Ekultek commented on #50
@wreckitkenny Do me a favor, run these two commands and post their output
`ruby whitewidow.rb -d -D store.asp?id=`
`ruby whitewidow.rb -d -D 'dork: "powered by EQdkp"'`

[2017-01-26 17:18] wreckitkenny commented on #50
[code]

[code]

[2017-01-26 18:09] Ekultek commented on #50
@wreckitkenny If you find more, post them here

[2017-01-26 18:21] wreckitkenny commented on #50
Ok man

[2017-01-31 17:45] Ekultek commented on #50
Haven't seen anymore for a week, closing the issue

[2017-01-31 17:45] #50 closed, assigned to Ekultek

[2017-04-07 22:09] Ekultek opened #51 "SoUNTZP uninitialized constant SEARCH_QUERY"
## Issue/Enhancement/Question (be specific)
Getting error: uninitialized constant SEARCH_QUERY

## Exact error message/Enhancement information
uninitialized constant SEARCH_QUERY

## Steps to reproduce if applicable or steps on what should be done
Run with {:default=>true}

## Search query if applicable (please use exact search query)
inurl:/sourcesinurl:/join.php?FORM[url]=owned&CONFIG[captcha]=1

[2017-04-16 08:28] mienv567 opened #52 "Whether to support Linux"
Whether to support Linux

[2017-04-16 08:30] #52 closed, assigned to nobody

[2017-04-16 21:51] Ekultek commented on #52
What do you mean? Linux is the main support of whitewidow

[2017-04-27 14:53] mienv567 opened #53 "require_relative: command not found"
./whitewidow.rb: line 3: require_relative: command not found
./whitewidow.rb: line 8: def: command not found
./whitewidow.rb: line 9: syntax error near unexpected token `"ruby #{File.basename(__FILE__)} -[OPTIONS] --[OPTIONAL-OPTIONS]"'
./whitewidow.rb: line 9: `  FORMAT.info("ruby #{File.basename(__FILE__)} -[OPTIONS] --[OPTIONAL-OPTIONS]")'

[2017-04-27 15:36] Ekultek commented on #53
Find the full issue template in tmp/issues and post it please, thank you. I will close this in 48 hours if no response is given.

[2017-05-01 18:42] Ekultek commented on #53
Closing due to no response

[2017-05-01 18:42] #53 closed, assigned to Ekultek

[2017-05-01 18:42] Ekultek commented on #51
Fixed in the latest push

[2017-05-01 18:42] #51 closed, assigned to Ekultek

[2017-05-02 21:11] Ekultek opened #54 "Payloads"
Looking for some ideas on new payloads and ways to implement custom payloads, if you have any ideas, or suggestions post them here

[2017-05-03 07:27] noptrix opened #55 "Can't run whitewidow"
## Issue/Enhancement/Question (be specific)
Can't run whitewidow due to ruby (module) related error

## Exact error message/Enhancement information
[code]

## Backtrace from error_log file located in log/log_files/error_log.LOG

## Steps to reproduce if applicable or steps on what should be done
whitewidow

## Search query if applicable (please use exact search query)

## User agent (if applicable

[2017-05-03 11:28] Ekultek commented on #55
Currently trying to reproduce issue. Please provide your operating system

[2017-05-03 11:56] Ekultek commented on #55
Unable to reproduce this issue, did you `chmod` the file before running it? Did you `bundle install` before running it? Please provide exact details on how you got this error, thank you.

I will close this issue in 48 hours if no further information is given

[2017-05-03 14:15] Ekultek opened #56 "Getting error: undefined method `q=' for nil:NilClass"
Before you create an issue please make sure that there are no issues that relate to your issue. if there is an issue that relates to one, please add a comment to that issue and describe your specific problem. If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs directory. If none of those answer your question, make an issue
--

## Issue/E

[2017-05-03 14:15] Ekultek opened #57 "Getting error: 503 => Net::HTTPServiceUnavailable"
Before you create an issue please make sure that there are no issues that relate to your issue. if there is an issue that relates to one, please add a comment to that issue and describe your specific problem. If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs directory. If none of those answer your question, make an issue
--

## Issue/E

[2017-05-03 14:16] Ekultek opened #58 "Getting error: too many connection resets"
Before you create an issue please make sure that there are no issues that relate to your issue. if there is an issue that relates to one, please add a comment to that issue and describe your specific problem. If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs directory. If none of those answer your question, make an issue
--

## Issue/E

[2017-05-03 14:17] Ekultek opened #59 "Getting error: uninitialized constant SEARCH_QUERY"
Before you create an issue please make sure that there are no issues that relate to your issue. if there is an issue that relates to one, please add a comment to that issue and describe your specific problem. If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs directory. If none of those answer your question, make an issue
--

## Issue/E

[2017-05-03 14:17] Ekultek commented on #56
Before you create an issue please make sure that there are no issues that relate to your issue. if there is an issue that relates to one, please add a comment to that issue and describe your specific problem. If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs directory. If none of those answer your question, make an issue
--

## Issue/E

[2017-05-03 14:18] Ekultek commented on #56
Before you create an issue please make sure that there are no issues that relate to your issue. if there is an issue that relates to one, please add a comment to that issue and describe your specific problem. If your issue has to do with any sort of installation or syntax errors, please read the self_help under the docs directory. If none of those answer your question, make an issue
--

## Issue/E

[2017-05-03 14:21] Ekultek commented on #58
The proxy URL is bad

[2017-05-03 14:21] #58 closed, assigned to Ekultek

[2017-05-03 14:24] Ekultek commented on #57
The IP has been blocked by Google temporarily

[2017-05-03 14:24] #57 closed, assigned to Ekultek

[2017-05-03 14:27] Ekultek opened #60 "/home/baal/.rvm/gems/ruby-2.4.0/gems/nokogiri-1.6.8/lib/nokogiri/html/document.rb:164: warning: constant ::Fixnum is deprecated"
/home/baal/.rvm/gems/ruby-2.4.0/gems/nokogiri-1.6.8/lib/nokogiri/html/document.rb:164: warning: constant ::Fixnum is deprecated

Need to get rid of the warning

[2017-05-03 14:28] Ekultek commented on #59
Bad dork query, will be fixed next push

[2017-05-03 14:29] Ekultek commented on #56
No idea, working on it. Probably has something to do with the search query not being accepted by mechanize.

[2017-05-03 14:31] Ekultek commented on #60
Need to update nokogiri to be compatible https://github.com/sparklemotion/nokogiri/issues/1566

[2017-05-03 14:32] Ekultek commented on #56
IDEA:
 - Create a test to see if the search query fails or not, if it doesn't continue, if it does then grab another one and log the one that's causing the error

[2017-05-03 17:07] Ekultek commented on #56
Fixed via a1dc7ed

[2017-05-03 17:07] #56 closed, assigned to Ekultek

[2017-05-03 17:07] Ekultek commented on #60
Fixed via a1dc7ed you will need to update nokogiri on your system

[2017-05-03 17:07] #60 closed, assigned to Ekultek

[2017-05-03 19:09] noptrix commented on #55
thanks for your quick reply @Ekultek. so, i've got no issues with ruby-2.3. but this issue happenes with ruby-2.4.  and to your question about details: this is the way it gets packaged on blackarch: https://github.com/BlackArch/blackarch/blob/683ba7e14b1f5b76af6ce53ca6a44505874be4a7/packages/whitewidow/PKGBUILD and this is the way it does post_installation routines (bundle install, etc.): https://

[2017-05-03 19:22] Ekultek commented on #55
Seems that BlackArch needs to update the whitewidow source, I'll get into contact with them about it.

[2017-05-03 19:28] Ekultek commented on #55
Made an issue on their github https://github.com/BlackArch/blackarch/issues/1625

I'll leave this open until that one is closed.

[2017-05-03 19:31] noptrix commented on #55
@Ekultek thanks.i am main dev @ blackarch. just saw your github issue. thanks for that. we are using your git master branch and built directly (today) from: https://github.com/WhitewidowScanner/whitewidow.git - i am gonna switch to release tags. thanks for your help!

[2017-05-03 19:32] Ekultek commented on #55
No problem man, good luck and thanks for using my tool :)

[2017-05-03 19:34] Ekultek commented on #55
@noptrix I'd suggest if you can, pull it directly from Git during installation, that way it's as updated as possible. I've been working around the new issues that have arisen from the update to Ruby, so keep in touch and let me know if you find anything else, thank you

[2017-05-03 19:37] Ekultek commented on #55
Also let's keep this open, I have a hunch that this isn't gonna solve the issue

[2017-05-03 20:13] Ekultek commented on #55
@noptrix got a question for you, what happens if you change the depends on the PKGBUILD file from

`depends=('ruby2.3' 'ruby2.3-bundler')`
To
`depends=('ruby2.4' 'ruby2.4-bundler')` ?

[2017-05-04 08:10] noptrix commented on #55
@Ekultek sure, you are welcome. yeah keep the issue open then. to your question: it was 'ruby' and 'ruby-bundler' before which stands for the 'newest' ruby version (e.g. 2.4) in archlinux. this wasn't working so i am forcing to use ruby-2.3 for whitewidow.

[2017-05-04 12:46] Ekultek commented on #55
@noptrix I have a possible idea for you. What if you downloaded it by the latest tarball, and immediately upgraded it with the `--upgrade` flag during initialization of the operating system? I've come across some info on `nokogiri` and `2.4` they had to release a new patch for the gem due to the release of `2.4` so this might have something to do with that gem

[2017-05-04 18:36] noptrix commented on #55
@Ekultek I can switch to ruby-2.4 again and do what you said. I will let you know.

[2017-05-05 01:27] Ekultek commented on #59
Haven't seen in a few days, closing

[2017-05-05 01:27] #59 closed, assigned to Ekultek

[2017-05-05 01:29] Ekultek commented on #54
Testing https://github.com/WhitewidowScanner/whitewidow/commit/1ccf47d6aea1fdbbd608e96ff74722840e1937d6

[2017-05-05 20:40] Ekultek commented on #55
@noptrix any updates on this?

[2017-05-05 20:46] noptrix commented on #55
@Ekultek sorry, busy at the moment. i will give a try tomorrow and ping you then :)

[2017-05-05 21:08] Ekultek commented on #55
All good sounds like a plan, thanks

[2017-05-07 18:41] Ekultek commented on #55
@noptrix Any updates on this?

[2017-05-08 20:29] noptrix commented on #55
@Ekultek hey, sorry for the delay. i am also not at home... so i've tried to switch back to ruby-2.4 and directly use --upgrade flag after installation with the newest release version. but this didn't worked out for me, i am still getting the same error from above. but we can keep using ruby-2.3 for now, this is not a problem at all, as ruby-2.3 is still maintained in arch linux repository.

[2017-05-08 20:37] Ekultek commented on #55
All good man. Alright well that will work temporarily, I'd like to get a permanent fix for it though so I'll figure something out

- Thomas Perkins

[2017-05-08 20:39] noptrix commented on #55
@Ekultek kewl, thanks a lot for your support and follow-up.

[2017-05-14 17:55] Ekultek commented on #55
@noptrix been doing research and it turns out this is a restclient issue, looking into it

[2017-05-14 18:02] Ekultek commented on #55
Made an issue on their github, let's see if they have any idea. https://github.com/rest-client/rest-client/issues/600

[2017-05-14 21:18] noptrix commented on #55
@Ekultek Awesome, thanks for the follow-up! Yep, let's see what they say...

[2017-05-18 06:31] ghost opened #61 "runing error thanks"
[code]
The source file can be modified
How to change google.com to bing.com

[2017-05-18 10:50] Ekultek commented on #61
Post the issue template under tmp/issues

- Thomas Perkins

[2017-05-18 11:22] Ekultek commented on #61
Currently Bing is not supported. I also don't really see any need for it to be supported. What would be the benefit of supporting Bing?

[2017-05-19 19:34] Ekultek commented on #61
Closing issue, 48 hours no response.

[2017-05-19 19:34] #61 closed, assigned to Ekultek

[2017-05-20 16:26] kali64amd opened #62 "Installation Issue"
I'm getting this error while installing.............

Don't run Bundler as root. Bundler can ask for sudo if it is needed, and installing your bundle as root will break this application for all non-root users on this machine.

[2017-05-20 16:49] Ekultek commented on #62
This is just a bundler warning, my guess is that you're the only one on your system and you're the root user, so don't worry about it just run `bundle install` and you'll be fine. I'll close this after you reply.

[2017-05-20 17:11] Ekultek commented on #54
No complaints closing this

[2017-05-20 17:11] #54 closed, assigned to Ekultek

[2017-05-20 17:23] Ekultek opened #63 "Maintainers"
I'm currently looking for a couple of people to maintain whitewidow. What this will require from you:

- Fixing bugs and issues
- Advanced knowledge on whitewidow
- Ability to troubleshooting and maintain the code
- A good attitude, and a willingness to learn
- Someone who can create good documentation
- New ideas and an open mind
- Someone who is willing to give back the community

What you will

[2017-05-22 01:17] Ekultek opened #64 "ipv4_mapped"
![issues_1](https://cloud.githubusercontent.com/assets/14183473/26289095/6bd0c7b8-3e62-11e7-861b-1e4e662ba972.PNG)
![issues_1_1](https://cloud.githubusercontent.com/assets/14183473/26289096/6bd13bf8-3e62-11e7-9928-630966fd245e.PNG)

[2017-05-22 01:20] Ekultek opened #65 "uninitialized constant SEARCH_QUERY (again)"
![issue_2](https://cloud.githubusercontent.com/assets/14183473/26289142/e8d379c2-3e62-11e7-9ed1-1e41b9a85bc9.PNG)
![issue_2_2](https://cloud.githubusercontent.com/assets/14183473/26289143/eb2f7202-3e62-11e7-9020-eaf0ca738ecc.PNG)

[2017-05-22 01:24] Ekultek opened #66 "DB cannot be resolved"
![issue_3](https://cloud.githubusercontent.com/assets/14183473/26289196/7c2fcf04-3e63-11e7-8287-2a6341e8b411.PNG)

[2017-05-22 01:25] Ekultek commented on #64
![issues_1_1_1](https://cloud.githubusercontent.com/assets/14183473/26289204/92fb51d6-3e63-11e7-81a9-79353a7cfb21.PNG)

[2017-05-22 01:27] Ekultek opened #67 "Fails when swapping search queries"
![issue_4](https://cloud.githubusercontent.com/assets/14183473/26289240/dace7d08-3e63-11e7-8587-948f3c475168.PNG)

[2017-05-22 01:31] Ekultek opened #68 "useless to have it run through the same url over and over again"
![issue_6](https://cloud.githubusercontent.com/assets/14183473/26289286/61c34938-3e64-11e7-9a6f-c4570f1318f6.PNG)

[2017-05-22 01:32] Ekultek opened #69 "Need to skip 406 errors, not exit because of them"
![issue_7](https://cloud.githubusercontent.com/assets/14183473/26289306/8ed80a44-3e64-11e7-8cbd-567c6bc227ad.PNG)

[2017-05-22 01:35] Ekultek opened #70 "Need to skip "creating payloads" and "payloads created" during bulk run"
![issue_8](https://cloud.githubusercontent.com/assets/14183473/26289354/f8e8c07c-3e64-11e7-851f-8041d54af36c.PNG)

[2017-05-22 01:39] Ekultek opened #71 "screwed up formatting "cyan for nil class""
![issue_9](https://cloud.githubusercontent.com/assets/14183473/26289413/7b9020ce-3e65-11e7-8e16-6cd7812cd5da.PNG)
![issue_9_9](https://cloud.githubusercontent.com/assets/14183473/26289415/7dd675e0-3e65-11e7-8e19-e3bb95a00c73.PNG)

[2017-05-22 01:44] Ekultek opened #72 "need to create a way to verify that the web application is vulnerable before spitting out something"
![issue_10](https://cloud.githubusercontent.com/assets/14183473/26289496/3f84b742-3e66-11e7-93ce-abdb0a3a60e0.PNG)

[2017-05-22 01:49] #63 closed, assigned to Ekultek

[2017-05-22 01:50] Ekultek commented on #62
closing 24 hours no response

[2017-05-22 01:50] #62 closed, assigned to Ekultek

[2017-05-22 11:18] Ekultek commented on #55
Should be fixed via 950a43b, I'll keep this open so you can test it out.

[2017-05-22 12:19] Ekultek commented on #67
Working on this, got temp blocked from Google for a few hours.

[2017-06-01 13:31] smtabakoglu commented on #55
Hi @Ekultek
I have this error
"opt/whitewidow/lib/imports/constants_and_requires.rb:6:in `require': cannot load such file -- rest-client (LoadError)
	from /opt/whitewidow/lib/imports/constants_and_requires.rb:6:in `<top (required)>'
	from whitewidow.rb:2:in `require_relative'
	from whitewidow.rb:2:in `<main>'
"
And I tried to install again rest-client

"gem install rest-client
Successfully install

[2017-06-01 14:53] Ekultek opened #73 "Cant install restclient"
Hi @Ekultek
I have this error
"opt/whitewidow/lib/imports/constants_and_requires.rb:6:in `require': cannot load such file -- rest-client (LoadError)
	from /opt/whitewidow/lib/imports/constants_and_requires.rb:6:in `<top (required)>'
	from whitewidow.rb:2:in `require_relative'
	from whitewidow.rb:2:in `<main>'
"
And I tried to install again rest-client

"gem install rest-client
Successfully install

[2017-06-01 14:53] Ekultek commented on #55
Your issue has been migrated to #73

[2017-06-01 14:55] Ekultek commented on #73
`gem install restclient` that should do that job

[2017-06-01 19:13] smtabakoglu commented on #73
I did but

gem install restclient
Fetching: paint-1.0.1.gem (100%)
Successfully installed paint-1.0.1
Fetching: restclient-0.14.4.gem (100%)
restclient's executable "restclient" conflicts with rest-client
Overwrite the executable? [yN]  y
!    The 'restclient' gem has been deprecated and has been replaced by 'restup'.
!    See: https://rubygems.org/gems/restup
!    And: https://github.com/thoom/re

[2017-06-01 20:29] Ekultek commented on #73
Wait a second, did you do `bundle install`?

[2017-06-01 20:32] smtabakoglu commented on #73
Yeah,already did it before

bundle install
Don't run Bundler as root. Bundler can ask for sudo if it is needed, and installing your bundle as root will break this application for all non-root
users on this machine.
Warning: the running version of Bundler is older than the version that created the lockfile. We suggest you upgrade to the latest version of Bundler by running `gem install bundler`.
Us

[2017-06-01 20:37] Ekultek commented on #73
Something's wrong with your installation, uninstall `rest-client` and `restclient`, along with `nokogiri` after you've done all that run `gem install rest-client -v 2.0` and then run `bundle install`

[2017-06-01 20:58] Ekultek commented on #73
This seems to be OS specific, here's an example of running on Debian, and on Windows 7, it works on the MS platform but not on the Debian platform. What OS are you running?

![whitewidow-issue](https://cloud.githubusercontent.com/assets/14183473/26700450/feac0b28-46e2-11e7-8772-9ba8c78b41db.PNG)

[2017-06-01 21:14] smtabakoglu commented on #73
@Ekultek Kali 2016.1 version

_Sent from my ZTE A2017G using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-01 21:34] Ekultek commented on #73
Kali is a Debian distro right?

[2017-06-01 21:35] Ekultek commented on #73
Try one more thing for me, `sudo apt-get install ruby-rest-client`

[2017-06-01 21:37] Ekultek commented on #73
@noptrix have you experienced this on blackarch?

[2017-06-01 21:44] Ekultek commented on #73
Is Kali a Debian distro?

- Thomas Perkins

[2017-06-02 08:21] smtabakoglu commented on #73
Yes,I think so :)

By the way i also tried with another kali instance but no luck!

![image](https://cloud.githubusercontent.com/assets/15263586/26717201/2af2a956-4785-11e7-9cbc-7bad61ca1203.png)
![image](https://cloud.githubusercontent.com/assets/15263586/26717220/443105ac-4785-11e7-8f08-1b696de0e956.png)
![image](https://cloud.githubusercontent.com/assets/15263586/26717239/55a0063a-4785-11e7-91c

[2017-06-02 11:00] Ekultek commented on #73
Alright one more ditch effort, delete the gem.lock file and run `bundle install`

[2017-06-02 12:00] smtabakoglu commented on #73
I did this actions
![image](https://cloud.githubusercontent.com/assets/15263586/26724811/0db6d9f6-47a4-11e7-8710-9644398d7c17.png)

Result is same
![image](https://cloud.githubusercontent.com/assets/15263586/26724825/2138aae0-47a4-11e7-9fb9-200c320fc758.png)

Anyway thank you for your patience.I will try qith different OS

[2017-06-02 12:49] Ekultek commented on #73
Completely delete the lock file and try again, also try with a different OS like you said and I'll see what I can figure out

[2017-06-02 13:28] Ekultek commented on #73
Also try upgrading bundler, that might be the issue as well

[2017-06-03 16:49] noptrix commented on #73
@Ekultek sorry for the delayed response...too busy atm. no, i didn't have the error like above.

[2017-06-05 11:14] AintCoolSon commented on #73
Duh, I'm having the same issue. Did everything required and still no luck.
I'll be online all day. Lets solve this

[2017-06-05 11:48] Ekultek commented on #73
Alright, what operating systems have you tried so far?

[2017-06-05 11:51] AintCoolSon commented on #73
I'm using the latest and greatest version of Parrot OS.

[2017-06-05 12:03] Ekultek commented on #73
Lol that's what's up, alright ima push a test branch to the repo and I want you to clone from that branch and try it, gimme a couple minutes

[2017-06-05 12:05] Ekultek commented on #73
Clone from this branch https://github.com/WhitewidowScanner/whitewidow/tree/test-branch and try it

[2017-06-05 12:10] AintCoolSon commented on #73
Done that.
/whitewidow/lib/imports/constants_and_requires.rb:195:in `<top (required)>': uninitialized constant RestClient::NotFound (NameError)
	from whitewidow.rb:2:in `require_relative'
	from whitewidow.rb:2:in `<main>'

[2017-06-05 12:12] Ekultek commented on #73
so you did `git clone -b test-branch https://github.com/ekultek/whitewidow.git`?

[2017-06-05 12:15] AintCoolSon commented on #73
^Nvm. Works now. /thread

[2017-06-05 12:16] Ekultek commented on #73
Works?

[2017-06-05 12:16] noptrix commented on #73
@Ekultek jfyi, on blackarch no problem.

[2017-06-05 12:17] AintCoolSon commented on #73
Yeah, it works. Running it rn.

[2017-06-05 12:21] Ekultek commented on #73
@noptrix cool, thanks man
@AintCoolSon awesome, closing the down with the next push

[2017-06-05 12:23] Ekultek commented on #73
Fixed via f50bd02

@noptrix I'm closing yours down as well

[2017-06-05 12:23] #73 closed, assigned to Ekultek

[2017-06-05 12:23] Ekultek commented on #55
@noptrix fixed via 950a43b

[2017-06-05 12:23] #55 closed, assigned to Ekultek

[2017-06-05 12:36] AintCoolSon opened #74 "Using dork feature"
The tool does 'well', running on defaults, however, when I try to use custom dorks using -D or --dork, the tool crashes.
$ruby whitewidow.rb --dork "inurl:php?id= site:rs"

No error message shown. Am I using this feature wrong?

[2017-06-05 12:50] Ekultek commented on #74
`ruby whitewidow.rb -d -D <DORK>`

The crash happens because you're running a valid argument but not telling it what to do.

[2017-06-05 12:50] #74 closed, assigned to Ekultek

[2017-06-22 12:58] sbridgens opened #75 "Note: Kali 4.9 Requirements"
Note in order to successfully install this on kali 4.9:

1: apt-get install liblzma-dev zlib1g-dev
2: gem install nokogiri -v '1.8.0' -V
3: bundle install

be good to add to the readme..

[2017-06-22 13:03] Ekultek commented on #75
So add it? And if you don't know how to install this on Kali, you shouldn't be using Kali.

[2017-06-22 14:17] Ekultek commented on #75
fixed via ed98962

[2017-06-22 14:17] #75 closed, assigned to Ekultek

[2017-06-22 14:17] Ekultek commented on #70
fixed via 23994b6

[2017-06-22 14:17] #70 closed, assigned to Ekultek

[2017-06-22 14:20] Ekultek commented on #66
Fixed via 23994b6

[2017-06-22 14:20] #66 closed, assigned to Ekultek

[2017-06-23 15:28] sbridgens commented on #75
thanks was being helpful, dick comment btw.

[2017-06-23 15:42] Ekultek commented on #75
Not a dick comment, just pointing out you're capable of adding it as well, and then you'd be a contributor and go on my special contributions list

- Thomas Perkins

[2017-06-23 15:44] sbridgens commented on #75
thanks will do so in future

[2017-06-24 04:07] Ekultek commented on #45
Reopening this because I need to fix some stuff in it

[2017-07-02 17:23] lodelux opened #76 "Doesn't work."
## Issue/Enhancement/Question (be specific)
Whenever i try to run it with either ruby whitewidow.rb -d or with other arguments, it doesn't work and shows up the following error.

## Exact error message/Enhancement information
Failed with error code (/root/whitewidow/lib/lists/inject.yml): block sequence entries are not allowed in this context at line 12 column 225

## Backtrace from error_log file

[2017-07-02 21:08] Ekultek commented on #76
What operating system are you using?

[2017-07-02 21:21] lodelux commented on #76
kali linux on virtual machine

[2017-07-02 21:42] Ekultek commented on #76
Of course you are lol. Okay give me a couple minutes so I can try to reproduce this

[2017-07-02 21:47] Ekultek commented on #76
[code]

Reproduced, I'll look into it and figure out how to fix it. Thanks for brining this to my attention

[2017-07-03 17:31] Ekultek commented on #76
fixed via 0f68ed1

[2017-07-03 17:31] #76 closed, assigned to Ekultek

[2017-07-11 17:42] jopcode opened #77 "g9XdKhe undefined method `set_proxy' for #<String:0x005653ec3880d8>"
[![asciicast](https://asciinema.org/a/128493.png)](https://asciinema.org/a/128493)

## Issue/Enhancement/Question (be specific)
Getting error: undefined method `set_proxy' for #<String:0x005653ec3880d8>

## Exact error message/Enhancement information
undefined method `set_proxy' for #<String:0x005653ec3880d8>

## Steps to reproduce if applicable or steps on what should be done
Run with {:default=>

[2017-07-11 17:48] jopcode opened #78 "Wq6TBmh 503 => Net::HTTPServiceUnavailable for http://ipv4.google.com/sorry/index?continue=http://www.google.de/search%3Fie%3DISO-8859-1%26hl%3Dde%26source%3Dhp%26biw%3D%26bih%3D%26q%3Dnav.php%253Fpagina%253D%2B%2522nav.php%253Fpagina%253D%2522%250A%26btnG%3DGoogle-Suche%26gbv%3D1&hl=de&q=EgQuZWn1GMGdlMsFIhkA8aeDSzbojjwyOfY7dRdswixyXZoD_rFLMgNyY24 -- unhandled response"
[![asciicast](https://asciinema.org/a/HFIGsvDrTRLdVexn3buGJoh3D.png)](https://asciinema.org/a/HFIGsvDrTRLdVexn3buGJoh3D)

## Issue/Enhancement/Question (be specific)
Getting error: 503 => Net::HTTPServiceUnavailable for http://ipv4.google.com/sorry/index?continue=http://www.google.de/search%3Fie%3DISO-8859-1%26hl%3Dde%26source%3Dhp%26biw%3D%26bih%3D%26q%3Dnav.php%253Fpagina%253D%2B%2522nav.php%253

[2017-07-11 19:07] Ekultek commented on #78
This means that Google is blocking your IP address. Change IP addresses and hop your MAC. You should be alright after that, Currently, there is no way around this.

[2017-07-11 19:07] #78 closed, assigned to Ekultek

[2017-07-11 19:10] Ekultek commented on #77
That's interesting, try a different proxy please

[2017-07-11 19:14] jopcode commented on #77
@Ekultek I already tried with another 6 proxies and give me same error.

[2017-07-11 19:15] Ekultek commented on #77
Hmm.. Try, `https://<proxy>`

[2017-07-11 19:16] jopcode opened #79 "503 HTTPServiceUnavailable"
## Issue/Enhancement/Question (be specific)
Getting error: 503 => Net::HTTPServiceUnavailable for http://ipv4.google.com/sorry/index?continue=http://www.google.de/search%3Fie%3DISO-8859-1%26hl%3Dde%26source%3Dhp%26biw%3D%26bih%3D%26q%3Dnav.php%253Fpagina%253D%2B%2522nav.php%253Fpagina%253D%2522%250A%26btnG%3DGoogle-Suche%26gbv%3D1&hl=de&q=EgQuZWn1GMGdlMsFIhkA8aeDSzbojjwyOfY7dRdswixyXZoD_rFLMgNyY24

[2017-07-11 19:19] jopcode commented on #77
Ok, now give me that:

## Issue/Enhancement/Question (be specific)
Getting error: Failed to open TCP connection to https:80 (getaddrinfo: Name or service not known)

## Exact error message/Enhancement information
Failed to open TCP connection to https:80 (getaddrinfo: Name or service not known)

## Steps to reproduce if applicable or steps on what should be done
Run with {:default=>true, :agent=>t

[2017-07-11 19:24] #79 closed, assigned to nobody

[2017-07-11 19:32] Ekultek commented on #77
Alright that makes more sense. Give me a little bit to look into it

[2017-07-12 12:53] Ekultek commented on #77
Working on this right now

[2017-07-12 12:57] jopcode commented on #77
@Ekultek Nice!, I am also working on a project right now, I will be attentive to any response

[2017-07-12 13:23] Ekultek commented on #77
From what I can see it seems like the proxy you were trying to use is bad. When you pass a proxy you need to verify what kind of proxy it is, socks, http, https, etc.. Otherwise it just assumes that there's a string there. That's where the `#<String:0x005653ec3880d8>` is coming from. It's the spot in memory were the string is sitting. I'd really suggest you just use a VPN over a proxy.

[2017-07-12 13:28] Ekultek commented on #77
HOWEVER, I can't seem to get `unf_ext` installed on my system right now so lemme figure out how to get that installed and I'll double check everything lol

[2017-07-19 13:20] Ekultek commented on #77
Use a good proxy and use it in this format `(socks\d+|http(s)?)<IP-ADDR>:<PORT#>`

[2017-07-20 20:57] jopcode commented on #77
@Ekultek  oks (:

[2017-07-25 18:56] Ekultek commented on #77
No reports of any problems in a week, closing

[2017-07-25 18:56] #77 closed, assigned to Ekultek

[2017-09-07 16:18] #45 closed, assigned to Ekultek

[2017-09-07 16:18] #64 closed, assigned to Ekultek

[2017-09-07 16:18] #65 closed, assigned to Ekultek

[2017-09-07 16:18] #67 closed, assigned to Ekultek

[2017-09-07 16:18] #68 closed, assigned to Ekultek

[2017-09-07 16:18] #69 closed, assigned to Ekultek

[2017-09-07 16:18] #71 closed, assigned to Ekultek

[2017-09-07 16:18] #72 closed, assigned to Ekultek

[2017-09-25 05:36] Drever23 commented on #71
I have the same problem. I can not understand how to fix it.

[2017-09-26 02:57] lianfeng30 opened #80 "error"
mac run error
-------------------

all gem have installed

ruby --version
ruby 2.2.6p396 (2016-11-15 revision 56800) [x86_64-darwin16]
AAA:whitewidow AAA$ ls
Gemfile       README.md     lib           spec
Gemfile.lock  docs          log           whitewidow.rb
AAA:whitewidow AAA$ gem install mechanize
Successfully installed mechanize-2.7.5
Building YARD (yri) index for mechanize-2.7.5...
Done inst

[2017-09-26 11:55] Ekultek commented on #80
Update ruby

[2017-09-26 13:05] #80 closed

[2017-09-28 04:24] rexortas opened #81 "undefined method `cyan' for nil:NilClass"
## Issue/Enhancement/Question (be specific)
Getting error: undefined method `cyan' for nil:NilClass

## Exact error message/Enhancement information
undefined method `cyan' for nil:NilClass

## Steps to reproduce if applicable or steps on what should be done
Run with {:file=>"/home/username/Downloads/Private.txt"}

## Search query if applicable (please use exact search query)
N/A

## User agent (if

[2017-09-28 11:20] Ekultek commented on #81
Use Zeus for now https://github.com/ekultek/Zeus-Scanner

[2017-09-30 19:33] #81 closed, assigned to nobody

[2017-12-28 14:00] Ekultek opened #82 "How many of you think I should keep this going?"
Comment or react to this issue if you want the development to continue

[2017-12-28 15:12] VAllens commented on #82
Hi, Ekultek. :)

I think it's a great open source project.
I hope you will continue to develop.

Thanks so much.

[2017-12-30 09:34] coderxani commented on #82
Hi,
just followed you now.

nice job you are doing here.

i sent you an email. that need urgent attention. kindly check.
from.
ecoder2020@gmail.com

[2017-12-30 12:23] Ekultek commented on #82
@coderxani replied.

[2017-12-31 01:29] CodeSlemming commented on #82
Hello,

I'd like to tell you what a good job you are making. I admit your standard build are a really nice tool and I have made some private forks of it (For myself..) If you ever discountiue this project I would like to keep it running. It benefits a load of people, even people doing it for ethical purposes.

Sorry for any spelling mistakes, english is not my first language. (Russian)

[2017-12-31 01:51] Ekultek commented on #82
@xKeyScores do you have a discord?

[2017-12-31 03:22] CodeSlemming commented on #82
yes, add xKeyScore#7371

[2017-12-31 04:00] Ekultek commented on #82
@xKeyScores for some reason that's not working add me Salty#4256

[2017-12-31 04:02] Ekultek commented on #82
@xKeyScores added

[2017-12-31 11:32] picepice commented on #82
Nice..

[2017-12-31 15:14] coderxani commented on #82
@ekultek
  my email awaits your response.
 please kindly let me know your needs.
  i need it done in 3days time.

[2018-01-11 21:32] Ekultek commented on #82
Been two weeks, 5 out of 73 followers is not enough.

[2018-01-11 21:32] #82 closed, assigned to Ekultek

[2018-06-03 15:29] hnhhl opened #83 "Failed with error code U+1EDB from UTF-8 to ISO-8859-1"
#errror
[08:23:30 INFO] I'm searching for possible SQL vulnerable sites, using search query inurl:/allindex2.php?f=
[08:23:30 INFO] Using default user agent
[08:23:30 INFO] Verifying search query...
[08:23:30 ERROR] Failed with error code U+1EDB from UTF-8 to ISO-8859-1
[08:23:30 FATAL] Program failed with error code: U+1EDB from UTF-8 to ISO-8859-1, error saved to error_log.txt
[08:23:30 FATAL] I

[2018-06-03 15:31] Ekultek commented on #83
This project is no longer maintained.

[2018-06-03 15:31] #83 closed, assigned to nobody

[2018-09-06 09:41] devilmind81 opened #84 "unknown escape character"
I have cloned the repo and executed bundle install command from the root folder.

After trigger ruby whitewidow.rb .d I'm obtaining:

## Issue/Enhancement/Question (be specific)
Getting error: (/home/parrot/whitewidow/lib/lists/inject.yml): found unknown escape character while parsing a quoted scalar at line 19 column 19

Can you help me please?

[2018-09-18 10:10] kali64amd opened #85 "Error while scanning !!"
hi there

OS - Kali

I'm getting error while starting scanner and I'm clueless so please advise.

## Issue/Getting Error while starting scanning
[15:49:01 FATAL] Program failed with error code: (/root/Desktop/Tool/whitewidow/lib/lists/inject.yml): found unknown escape character while parsing a quoted scalar at line 19 column 19, error saved to error_log.txt
[15:49:01 FATAL] Issue template is being

[2018-10-26 13:32] JackandBlackLLL opened #86 "cannot load such file -- mechanize"
Got mistake

root@kali:~/Desktop/w/whitewidow# ruby whitewidow.rb
Traceback (most recent call last):
	4: from whitewidow.rb:2:in `<main>'
	3: from whitewidow.rb:2:in `require_relative'
	2: from /root/Desktop/w/whitewidow/lib/imports/constants_and_requires.rb:3:in `<top (required)>'
	1: from /usr/lib/ruby/2.5.0/rubygems/core_ext/kernel_require.rb:59:in `require'
/usr/lib/ruby/2.5.0/rubygems/core_ex

[2018-10-26 13:54] JackandBlackLLL commented on #86
Fixed this problem, but now get, with any comands

[09:51:08 ERROR] Failed with error code (/root/Desktop/w/whitewidow/lib/lists/inject.yml): found unknown escape character while parsing a quoted scalar at line 19 column 19
[09:51:08 FATAL] Program failed with error code: (/root/Desktop/w/whitewidow/lib/lists/inject.yml): found unknown escape character while parsing a quoted scalar at line 19 colu

[2018-10-26 13:57] JackandBlackLLL commented on #84
some mistake

[2018-11-05 23:06] psychomad commented on #84
Had same prob. I arrange to use tool put "#" on two lines

 - " AND EXTRACTVALUE('[rand_num]']',CONCAT('\','[del_start]',(SELECT (ELT('[rand_num]'='[rand_num]',1))),'[del_stop]'))"

- " OR EXTRACTVALUE('[rand_num]',CONCAT('\','[del_start]',(SELECT (ELT('[rand_num]'='[rand_num]',1))),'[del_stop]'))"

At the moment im try to figure out how to fix

[2018-12-09 16:21] Prostu2 commented on #26
[11:20:27 INFO] Formatting file
[11:20:27 INFO] Writing to temporary file..
[11:20:27 INFO] File: tesst, has been formatted and saved as #sites.txt in the tmp directory.
[11:20:27 INFO] Reading from /srv/qwe/whitewidow/tmp/#sites.txt
[11:20:27 INFO] Parsing page for SQL syntax error: https://aceronline.net
[11:20:27 ERROR] https:// failed due to an error while connecting, URL dumped to non_exploit

[2018-12-09 16:39] Prostu2 commented on #26
["/root/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/mechanize-2.7.6/lib/mechanize/http/agent.rb:329:in `fetch'", "/root/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/mechanize-2.7.6/lib/mechanize/http/agent.rb:998:in `response_redirect'", "/root/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/mechanize-2.7.6/lib/mechanize/http/agent.rb:321:in `fetch'", "/root/.rbenv/versions/2.5.1/lib/ruby/gems

[2018-12-09 18:30] Ekultek commented on #26
Really depends on what you’re looking for, you can sqlmap if you want to just attack a single target

[2018-12-09 18:30] #85 closed, assigned to nobody

[2018-12-09 18:31] #84 closed, assigned to nobody

[2018-12-09 18:31] #86 closed, assigned to nobody